@media (max-width: 1400px) {
  main .hero-section {
    & .slide {
      & .content {
        & .heading {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 53.25%;
  }
}

@media(max-width: 950px) {
  main .hero-section {
    & .slide {
      & .content {
        left: 15rem;

        & .heading {
          width: 80%;
        }

        & .des {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 110rem;
  }

  .grid-three-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-six-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-page .container .grid .single-blog .blog-img img {
    height: 35rem;
  }

  .informative-section .testimonial .section-content {
    & .client-feedback {
      width: 90%;
    }
  }

  .whyus-section .container .grid {
    & .img-box {
      & img {
        width: 20%;
      }
    }
  }

  #footer-section .container .grid {
    justify-items: start;

    & .link-sec {
      justify-self: end;
    }
  }
}

@media (max-width: 850px) {
  .grid-two-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-six-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-section .container {
    & .connect {
      margin-left: 5rem;
    }
  }

  #about-section .right-content {
    & .img-box {
      height: 40rem;

      & button:nth-of-type(1) {
        right: 55%;
      }

      & button:nth-of-type(2) {
        right: 35%;
      }
    }
  }

  .page-header-section {
    & .container {
      padding-left: 8rem;

      & .heading {
        font-size: 40px;
        width: 100%;
      }

      & .des {
        width: 100%;
      }
    }
  }

  .project-page .container .project-heading {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .mobile-navbar {
    display: inline-block;
    position: fixed;
    z-index: 100;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: black;
    padding: 1.1rem 2.5rem;

    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .grid-three-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-six-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .topbar-section {
    & .container {
      & p:nth-of-type(2) {
        display: none;
      }
    }
  }

  .header-section .container {
    & .navbar {
      display: none;
    }
  }

  main .hero-section {
    & .slide {
      & .content {
        left: 5rem;

        & .heading {
          width: 90%;
        }
      }
    }
  }

  #footer-section .container .grid {
    & .link-sec {
      justify-self: start;
    }
  }

  #footer-section .copyright-sec {
    flex-wrap: wrap;
    gap: 2.5rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 450px) {
  main .container {
    & .slider-btn {
      flex-direction: column;
    }
  }

  .project-page .container .project-heading {
    width: 100%;
  }
}